<html>
    <head>
        <title>&lt;/blog&gt;</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/semantic.min.css" integrity="sha256-g4+HzlttFiqgeuCnx3m308o0ahuBZ+0CRxaRWfSL0BU=" crossorigin="anonymous" />
        <style>
          #delete{
            display: inline;
          }
        </style>
    
    </head>
    <body>
        
        <!--navbar -->
        <div class="ui inverted menu">
          <div class="ui container">
          <a href="/blog"><div class="header item">
            <h3>BlogApp</h3>
          </div></a>
          <a class="item" href="/blog/new">
            Add New Post
          </a>
          </div>
        </div>
 